.maindiv{
    text-align: center;
letter-spacing: 2px;
word-spacing: 15px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
color: orange;

}
.header1{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
}
.timer{
    font-family: cursive;
    color: orange;
    word-spacing: 50px;

}
.buttons{
    font-family: cursive;
    color: orange;
    word-spacing: 20px;


}
.border-pad{
    padding: 25px;
    background-color: wheat;
    
}
